*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.background-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.backround-top {
  flex-grow: 1;
  background-color: rgb(32, 38, 46);
}
.background-bottom {
  flex-grow: 1;
  background-color: rgb(212, 228, 234);
}
.user-contaiener {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  color: rgb(10, 13, 26);
  background-color: white;
  z-index: 1;
  width: 30%;
  max-width: 600px;
}
.user {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.user::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgb(163, 209, 225);
}
.user img {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
}
.user-title {
  letter-spacing: 1px;
  font-size: 1.3rem;
}
.user-value {
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.values-list {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.icon {
  font-size: 1.4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem;
}
.btn {
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 0.3rem 0.5rem;
  background-color: deepskyblue;
  border: none;
  border-radius: 10px;
  color: white;
}
